/build
*.iml
.gradle
/local.properties
/.idea

.DS_Store
/captures
.externalNativeBuild
.cxx

# Example project
example/.idea
example/.gradle
example/build
example/captures
example/gradle.properties
example/gradle.properties.backup

# Maven Central publishing
secring.gpg
gradle.properties
keystore.jks
private.key
*.gpg
/deployments/last_deployment_id.txt
gradle.properties.backup
gradle.properties.example